# This code was adapted and changed from content in the Code Institute LMS
Credits:
- I referenced my team's hackathon project to help to structure my project

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/mohammedluqmanriaz/Desktop/Code Instatute/capstone_try_two/2025_capstone_project/jupyter_notebooks'

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/mohammedluqmanriaz/Desktop/Code Instatute/capstone_try_two/2025_capstone_project'

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('jupyter_notebooks/Data_set/transactions.csv')  # Make sure this path is correct

In [5]:
# Updated function to create a data dictionary
def create_data_dictionary(df):
    descriptions = {
        'transaction_id': 'Unique identifier for each transaction',
        'customer_id': 'Unique identifier assigned to each customer (e.g., CUSTXXXXX)',
        'transaction_date': 'Date and time when the transaction occurred',
        'transaction_type': 'Type of transaction (e.g., UPI, Debit Card, Bill Payment)',
        'transaction_amount': 'Amount involved in the transaction'
    }

    dictionary_data = []
    for column in df.columns:
        sample_values = df[column].dropna().head(3).tolist()
        sample_str = ', '.join([str(x) for x in sample_values])
        
        dictionary_data.append({
            'Column': column,
            'Data Type': str(df[column].dtype),
            'Missing Values': df[column].isnull().sum(),
            'Missing %': round((df[column].isnull().sum() / len(df)) * 100, 2),
            'Unique Values': df[column].nunique(),
            'Sample Values': sample_str,
            'Description': descriptions.get(column, 'Custom/Engineered column - description needed')
        })
        
    return pd.DataFrame(dictionary_data)

# Generate and display the data dictionary
raw_data_dictionary = create_data_dictionary(df)
print(raw_data_dictionary)

# Optional: Save to file
# raw_data_dictionary.to_csv('data_dictionary.csv', index=False)

                               Column Data Type  Missing Values  Missing %  \
0                      transaction_id    object               0        0.0
1                         customer_id    object               0        0.0
2                    transaction_date    object               0        0.0
3                    transaction_type    object               0        0.0
4                  transaction_amount   float64               0        0.0
5                   merchant_category    object               0        0.0
6                       merchant_name    object               0        0.0
7                transaction_location    object               0        0.0
8   account_balance_after_transaction   float64               0        0.0
9        is_international_transaction     int64               0        0.0
10                        device_used    object               0        0.0
11                         ip_address    object               0        0.0
12                 transaction_status    object               0        0.0
13     transaction_source_destination    object               0        0.0
14                  transaction_notes    object               0        0.0
15                         fraud_flag     int64               0        0.0

    Unique Values                                      Sample Values  \
0           50000  2d7ddfd4-1112-4354-a2dd-fad94b45a850, ba998721...
1           18318                 CUST102188, CUST107144, CUST102126
2           30012  2022-01-04 11:27:00, 2022-01-03 23:52:00, 2022...
3              10                      Bill Payment, UPI, Debit Card
4             639                             2100.0, 1400.0, 1000.0
5              12                      Dining, Travel, Entertainment
6           35312  Rattan, Khanna and Magar, Chauhan LLC, Halder-...
7            8823  Srikakulam, Himachal Pradesh, Giridih, Manipur...
8           30267                           8211.0, 12858.0, 19268.0
9               2                                            0, 0, 0
10              4                                      Web, Web, ATM
11          50000      31.102.21.141, 176.48.222.166, 181.62.105.161
12              2                          Success, Success, Success
13          39993  BCHG80012468703731, CJPZ11841095072972, TLCG50...
14             12  Payment for Dining, Payment for Travel, Paymen...
15              2                                            0, 0, 0

                                          Description
0              Unique identifier for each transaction
1   Unique identifier assigned to each customer (e...
2         Date and time when the transaction occurred
3   Type of transaction (e.g., UPI, Debit Card, Bi...
4                  Amount involved in the transaction
5       Custom/Engineered column - description needed
6       Custom/Engineered column - description needed
7       Custom/Engineered column - description needed
8       Custom/Engineered column - description needed
9       Custom/Engineered column - description needed
10      Custom/Engineered column - description needed
11      Custom/Engineered column - description needed
12      Custom/Engineered column - description needed
13      Custom/Engineered column - description needed
14      Custom/Engineered column - description needed
15      Custom/Engineered column - description needed

In [6]:
# Check for duplicate customer IDs
duplicate_customer_ids = df[df.duplicated(subset='customer_id', keep=False)]
duplicate_customer_count = duplicate_customer_ids['customer_id'].nunique()
print(f"\nNumber of duplicate customer IDs: {duplicate_customer_count}")
print("Duplicate customer ID records:")
print(duplicate_customer_ids.sort_values(by='customer_id').head(10))  # Display first 10 for brevity

# Check for duplicate transaction IDs
duplicate_transaction_ids = df[df.duplicated(subset='transaction_id', keep=False)]
duplicate_transaction_count = duplicate_transaction_ids['transaction_id'].nunique()
print(f"\nNumber of duplicate transaction IDs: {duplicate_transaction_count}")
if duplicate_transaction_count > 0:
    print("Duplicate transaction ID records:")
    print(duplicate_transaction_ids.sort_values(by='transaction_id'))
else:
    print("No duplicate transaction IDs found.")

Number of duplicate customer IDs: 14256
Duplicate customer ID records:
                             transaction_id customer_id     transaction_date  \
40586  832f55da-cf8c-4631-9056-d93e9c3b69df  CUST100000  2022-01-15 19:37:00
8200   ee57f580-a235-48b8-a562-bdfc09061af4  CUST100000  2022-01-20 15:33:00
32002  eacc300c-a6f4-4c24-9e33-734618fbc363  CUST100001  2022-01-20 19:20:00
40783  dcefbaad-116c-446b-9a53-2fefa2c93ab3  CUST100001  2022-01-04 18:10:00
27843  ec304a78-a139-4b56-a6f3-a56a6f9a965c  CUST100001  2022-01-25 17:19:00
37407  6c3aa45b-6723-4317-9b1b-fb1e7884a2d3  CUST100003  2022-01-04 17:27:00
26373  0392509a-fcc9-4d11-9130-784af62f3b2b  CUST100003  2022-01-25 09:15:00
31660  e67bc3a2-f581-4741-be79-233b4c1c2691  CUST100003  2022-01-01 05:18:00
32667  03a54f00-fa13-41a5-ad5e-f4974aa606ba  CUST100005  2022-01-18 11:15:00
7140   db28cc87-b314-41b0-8e2c-d113ebb365ad  CUST100005  2022-01-21 03:28:00

        transaction_type  transaction_amount   merchant_category  \
40586        Credit Card               200.0          Healthcare
8200         Credit Card              2500.0         Electronics
32002            Deposit              6600.0     Cash Withdrawal
40783      Fund Transfer              1400.0          Healthcare
27843         Debit Card             15200.0  Financial Services
37407  Loan Disbursement              1200.0          Healthcare
26373        Credit Card             10100.0           Utilities
31660      Fund Transfer              1900.0                Fuel
32667         Debit Card              4200.0          Healthcare
7140       Fund Transfer             10500.0       Entertainment

                              merchant_name       transaction_location  \
40586                          Madan-Sarraf           Singrauli, Assam
8200   Viswanathan, Subramaniam and Kashyap            Howrah, Mizoram
32002         Bhatnagar, Solanki and Badami        Karimnagar, Tripura
40783                          Dyal-Agrawal    Barasat, Madhya Pradesh
27843                               Lad Ltd         Vijayawada, Kerala
37407                          Saxena Group  Bhalswa Jahangir Pur, Goa
26373                    Sawhney-Brahmbhatt         Mehsana, Rajasthan
31660                               Raj PLC             Gwalior, Bihar
32667                            Iyer Group             Jaunpur, Assam
7140                            Chhabra Inc       Gangtok, West Bengal

       account_balance_after_transaction  is_international_transaction  \
40586                            17416.0                             0
8200                                 0.0                             0
32002                             7849.0                             0
40783                            22173.0                             0
27843                            24469.0                             0
37407                             1957.0                             0
26373                            22404.0                             0
31660                            32300.0                             0
32667                                0.0                             0
7140                             23229.0                             0

      device_used       ip_address transaction_status  \
40586      Mobile     99.17.178.43            Success
8200          POS    43.14.143.156            Success
32002         Web    142.42.18.169            Success
40783         POS  125.222.220.107            Success
27843         ATM   156.121.57.155            Success
37407         POS    69.38.134.102            Success
26373         ATM    25.183.190.30            Success
31660         POS    244.208.20.49            Success
32667         POS    122.139.175.2            Success
7140       Mobile  198.183.145.123            Success

      transaction_source_destination               transaction_notes  \
40586             LZYN62755955121431          Payment for Healthcare
8200              NUSX38958655502228         Payment for Electronics
32002                           Self     Payment for Cash Withdrawal
40783             XDDS85345915700667          Payment for Healthcare
27843             DODF36095517568047  Payment for Financial Services
37407             JRMR79857547818078          Payment for Healthcare
26373             KEBQ27732251865309           Payment for Utilities
31660             DYBS64481944462911                Payment for Fuel
32667             LOQK18049664413782          Payment for Healthcare
7140              YCBW18986576678125       Payment for Entertainment

       fraud_flag
40586           0
8200            0
32002           0
40783           0
27843           0
37407           0
26373           0
31660           0
32667           0
7140            0

Number of duplicate transaction IDs: 0
No duplicate transaction IDs found.


Decide:

Drop rows/columns

Fill with mean/median/mode/forward-fill (for time series)

Impute or flag as unknown

In [7]:
df.isnull().sum()

transaction_id                       0
customer_id                          0
transaction_date                     0
transaction_type                     0
transaction_amount                   0
merchant_category                    0
merchant_name                        0
transaction_location                 0
account_balance_after_transaction    0
is_international_transaction         0
device_used                          0
ip_address                           0
transaction_status                   0
transaction_source_destination       0
transaction_notes                    0
fraud_flag                           0
dtype: int64

âœ… 2. Check for Duplicates
You've already done this, but to summarize:

Check for duplicate rows entirely:

python

Edit
df.duplicated().sum()
Remove them if necessary:

python

df = df.drop_duplicates()

In [8]:
df.duplicated().sum()

0

Validate Data Types

df.dtypes

Convert date strings to datetime

In [9]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

Check for Outliers in Numeric Columns
within the transaction amount

In [ ]:
sns.boxplot(x=df['transaction_amount'])
plt.show()

Check for Invalid or Inconsistent Entries
Negative amounts? (e.g., refunds or errors)

Unrecognized transaction types?

In [ ]:
df['transaction_type'].value_counts()
df[~df['customer_id'].str.startswith('CUST')]

Standardize Categorical Values
Make sure categories are consistent:

In [ ]:
df['transaction_type'] = df['transaction_type'].str.strip().str.title()

Check Date Ranges
Ensure transaction_date is within expected limits (e.g., not in the future):

In [ ]:
df[df['transaction_date'] > pd.Timestamp.today()]

Remove Unnecessary Columns
If there are columns that:

Contain only one value

Are irrelevant to your analysis

You can remove them:

In [ ]:
#df = df.drop(columns=['column_name'])

Handle Zero or Near-Zero Variance Columns
Columns with almost no variance may not be useful:

In [ ]:
df.nunique()

In [ ]:
df.to_csv('jupyter_notebooks/Data_set/transactions_clean.csv', index=False)